.more-div{
    width: 60%;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-header{
    text-align: center;
    padding: 20px;
}

.blog-body-div{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-bottom: 100px;
    text-align: justify;

}

.date-created{
    text-align: right;
    margin-bottom: 4px;
    color: rgb(92, 92, 92);
}