body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: rgb(247, 247, 247);
}
a{
    color: rgb(70, 70, 70);
}

.navbar{
    background-color: white; 
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.logo{
    width: 120px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.content{
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
}

.ul-navbar-menu{
    float: right;
    vertical-align: text-bottom;
    padding-top: 80px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.li-menu{
    float: left;
    margin-left: 18px;
    cursor: pointer;
    padding: 4px;
    /* padding-bottom: 0px; */
}

.nav-link{
    padding: 0;
}

.option1-li{
    /* border-bottom: 4px solid #27B5EA; */
    /* background-color: rgb(255, 255, 255); */
    transition: 0.3s;   
}

.option1-li:hover{
    transition: 0.3s; 
    background-color:#27B5EA ;
    /* padding-bottom: 0px; */
    color: white;
}

.option2-li{
    /* border-bottom: 4px solid #63EA27; */
    /* background-color: rgb(255, 255, 255); */
    transition: 0.3s;   
}

.option2-li:hover{
    transition: 0.3s; 
    background-color: #63EA27;
    /* padding-bottom: 0px; */
    color: white;
}

.option3-li{
    /* border-bottom: 4px solid #FF5050; */
    /* background-color: rgb(255, 255, 255); */
    transition: 0.3s;   
}

.option3-li:hover{
    transition: 0.3s; 
    background-color: #FF5050;
    /* padding-bottom: 0px; */
    color: white;
}

.latest-post-content{
    float: none;
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
    background-color: #114E65;
    color: white;
    
}

.social-media-img{
    width: 30px;
    margin-top: -7px;
}

.social-media{
    font-family: serif;
    font-style: oblique;
}

.social-media:hover{
    text-decoration: none;
    color: rgb(39, 39, 39); 
}


.img-div{
    margin: 0 auto;
    /* background-image: url("WNP_9594.jpg"); */
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 400px;
}

.latest-blog-navigation{
    float: right;
    width: fit-content;
    padding: 20px;
}

.div-home-latest{
    text-align: right;
    padding: 10px;
}

.latest-blog-title, .latest-blog-date{
    text-shadow: -1px 1px 0 #000;
}


.edit-btn{
    display: inline-block;
    background: none;
    border: none;
    color: rgb(122, 122, 122);
    float: none;
}

.message{
    padding: 30px;
    text-align: center;
}

.welcome-message{
    font-weight: lighter;
}

.latest-content-header{
    text-align: center;
    color: rgb(44, 44, 44);
    margin-top: 50px;
}

#posts-section{
    height: content;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    /* margin: 0 auto; */
    margin-top: 10px;
    padding: 10px;
}

#posts{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    width: 80%;
    min-width: 900px;
    height: fit-content;
}

.blog-div{
    margin: 5px;
    width: 23%;
    min-width: 200px;
    height: fit-content;
    text-align: center;
    border: solid rgb(221, 221, 221) 1px;
    transition: transform .2s;
}

.div-blog-body{
    background-color: rgb(255, 255, 255);
    height: auto;
    max-height: fit-content;
}

h5{
    margin-bottom: 4px;
    padding-top: 4px;
    color: rgb(41, 41, 41);
}

.home-cat, .home-date{
    color: rgb(41, 41, 41);
    margin-bottom: 4px;
    font-size: 12px;
}


.blog-image{
    width: 100%;
    cursor: pointer;
    padding-bottom: 3px;

}

.blog-div:hover{
    /* transform: scale(1.1); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid rgb(192, 192, 192); */
}

.more-btn{
    padding: 4px 4 4px 4px;
    width: 100%;
    font-size: 14;
    transition: 0.3s; 
    background-color: #27B5EA;
    /* border: solid 3px #27B5EA; */
    color: rgb(255, 255, 255);
    padding-bottom: 3px;
    border: none;
}

.more-btn-latest{
    padding: 4px 10px 4px 10px;
    font-size: 14;
    transition: 0.3s; 
    background-color: #27B5EA;
    color: white;
    border: none;
}

.more-btn-latest:hover{
    transition: 0.3s; 
    background-color: rgb(34, 34, 34);
    color: white;
}

.more-btn:hover{
    transition: 0.3s; 
    background-color: rgb(34, 34, 34);
    color: white;
    /* border: solid 3px rgb(34, 34, 34); */
    
}

.instagram-section{
    position: absolute;
    margin-top: 300px;
    background-color: #FF5050;
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
}

#instagram-feed{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-width: 1250px;
    height: fit-content;
    padding: 10px;
    background-color: white;
    border: 1px gray solid;
}

.insta-feed-img{
    width: 100%;
    max-width: 250px;
    height: 100%;
    padding: 5px;
    transition: transform .2s;
}

.insta-feed-img:hover{
    transform: scale(1.1);
}

.insta-content{
    position: relative;
    margin-top: -200px;
    padding-bottom: 150px;
}


.img-logo{
    width: 50px;
}

.img-title{
    width: 300px;
    border-left: 1px solid gray;
    padding-left: 5px;
}

.instagram-title{
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    border-bottom: none;
}

.footer-section{
    bottom: 0;
    margin-top: 50px;
    background-color: rgb(41, 41, 41); 
    width: 100%; 
}

.footer{
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px;
}

.logo-footer{
    width: 60px;
}

.rights-footer{
    float: right;
    color: white;
    text-align: right;
    font-size: 12px;
}

.not-found{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
   
    .row-content-flex{
        display: flex;
        flex-direction: column-reverse;
    }



    
}

@media only screen and (max-width: 540px) {

    .content{
        margin: 0 auto;
        display: inline;
        align-content: center;
    }
    .ul-navbar-menu{
        display: block;
        width: fit-content;
        padding: 0px;
        margin-top: 14px;
        /* float: none; */
        /* margin: 0 auto; */
    }
    .active-travels, .active-tips, .active-trips{
        padding: 4px;
        margin: 10px;
    }
    .logo{
     /* display: block; */
     width: 70px;
     padding-bottom: 0px;
     padding-top: 2px;
     margin-top: 14px;
     margin-left: 10px;
    }

    .li-menu{
     margin: 5px;
    }

 .latest-post{
     margin: 0 auto;
     margin-top: 20px;
     width: 100%;
     border-top: 30px solid #114E65;
    }

 .div-home-latest{
    text-align: center;
    margin-top: 30px;
    }

 .latest-post-content{
    width: 100%;
    }

    .latest-blog-navigation{
        margin: 0 auto;
        float: none;
    }
 
 #posts{
     width: 100%;
     min-width: 0px;
     display: flex;
     flex-direction: column-reverse;
    }

    
 .blog-div{
     margin: 0 auto;
     width: 90%;
     margin-top: 40px;
    }
 }
