body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-body{
    margin: 0 auto;
    border: 1px solid rgb(54, 54, 54);
    padding: 10px;
    margin-bottom: 40px;
}

.my-info-area{
    background-color: #114E65;
    border: solid rgb(19, 68, 114) 2px;
    padding-bottom: 20px;
}

.posts-area{
    background-color: white;
    border: solid #114E65 1px;
}

.info-area-font{
    color: white;
    margin-bottom: 4px;
}

.post-area-header{
    color: rgb(143, 143, 143);
    margin-top: 30px;
}

.thumbnail-img{
    margin-top: 40px;
    border: solid white 2px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.row-button{
    margin: 0 auto;
}
.row-input, .row-button{
    margin-bottom: 20px;

}

#submit-btn, #update-btn{
    font-size: 20px;
    /* padding: 5px 10px 5px 10px; */
    background: rgb(2,0,36);
    background: #27B5EA;
    color: white;
    border: none;
}

.btn-logout{
    background-color: #FF5050;
    padding: 3px;
    color: white;
}

.col-md-4, .col-md-8{
    padding-left: 40px;
}

.date-created{
    /* display: inline-block; */
    float: left;
    color: gray;
    font-size: 14px;
    width: fit-content;
    /* border: solid black 1px; */
}

.post-content{
    color: rgb(39, 39, 39);
    display: none;
}

.main-header{
    margin: 0 auto;
    width: fit-content;
    color: rgb(24, 113, 187);
    font-weight: bolder;
    padding: 20px;
    /* text-shadow: -3px -3px 0 rgb(255, 255, 255), 3px -3px 0 rgb(255, 255, 255), -3px 3px 0 rgb(255, 255, 255), 3px 3px 0 rgb(255, 255, 255); */
}

.main-header::before{
    content: url('../Images/logo.png');
    display: block;
    width: 40px;
    height: auto;
}

.sub-header{
    margin: 0 auto;
    padding: 20px;
}

.edit-btn{
    display: inline-block;
    background: none;
    border: none;
    color: rgb(122, 122, 122);
    float: none;
}


@media screen and (max-width: 768px) {
   
    .row-content-flex{
        display: flex;
        flex-direction: column-reverse;
    }

    
}